<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- BaseMap to Bucket Name -->
    <add key="BaseMaps_WGS_Topo" value="state-of-utah-topo-tiles;Topo"/>
    <add key="UploadTestService" value="state-of-utah-test;Test"/>
    <add key="BaseMaps_WGS_Lite" value="state-of-utah-lite-tiles;Lite"/>
    <add key="BaseMaps_WGS_Terrain" value="state-of-utah-pyramid-tiles-terrain;Terrain"/>
    <add key="BaseMaps_WGS_Overlay" value="state-of-utah-pyramid-tiles-overlay;Overlay"/>
    <add key="BaseMaps_Imagery_HRO2012Color6Inch_4Band" value="state-of-utah-hro2012color6inch_4band-tiles;HRO2012Color6Inch_4Band"/>
  </appSettings>
</configuration>